*{
    margin: 0;
    padding: 0;
}

body{
    background: #110a06;
    text-rendering: optimizeLegibility;
}

/*==============================================Полноэкранный режим===================================================*/
canvas{
    position: fixed;
    touch-action: none;
}
.full_screen {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    touch-action: none;
}

.full_screen_none {
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.full_screen_ios, .full_screen_android {
    background: rgba(0, 0, 0, .7) no-repeat center;
}

@media (orientation: landscape){
    .full_screen_ios, .full_screen_android {
        background-size: auto 60%;
    }
}

.full_screen_ios {
    background-image: url('../assets/img/fullscreen/touchIphone.png');
}

.full_screen_android {
    background-image: url('../assets/img/fullscreen/touchAndroid.png');
}

.full_ios {
    z-index: 0;/*Возможно из за этой строчки могут не работать кнопки канваса*/
    display: block;
    position: absolute;
    top: -500px;
    left: 0;
    width: 100%;
    height: 10000000px;
}

*::-webkit-scrollbar {
    display: none;
}
/*====================================================================================================================*/